$color-primario: rgba(195, 124, 243, 0.863);
$color-secundario: rgba(208, 168, 235, 0.863);
$color-claro: rgba(237, 211, 255, 0.863);
$tema-oscuro: #1a1d24; 
$color-oscuro: #6f4392;
$ingresar: rgb(50, 196, 184);